= render :partial => 'countdown'
-# = render :partial => 'search'
#events
  - @communities.each do |community|
    - unless community.events.empty?
      .community
        %h3= "#{community.city}, #{community.state}"
        %ul
          - community.events.each do |event|
            %li.event
              %strong.time= event.start_time.strftime("%m/%d/%y")
              .details
                = link_to event.description, event.meetup_url, :class => 'description'
                %em.status
                  %span.timestamp{:value => event.start_time.to_f}
                  %span.formatted-time= distance_of_time_in_words(Time.now, event.start_time)
                .clear
              .info
                .feeds
                  - if event.twitter_account
                    %a.button{:href => "http://twitter.com/#!/" + event.twitter_account, :target => "_blank"} Twitter
                  - elsif event.twitter_hashtag
                    %a.button{:href => "http://twitter.com/#!/search/%23" + event.twitter_hashtag.gsub('#', '%23'), :target => "_blank"} Twitter
                  .clear
                .rsvp
                  - if event.facebook_url
                    %a.button{:href => event.facebook_url, :target => "_blank"} Facebook
                .clear
              .clear
